.work-card {
  padding: 8px;
  width: 42%;
  height: 12em;
  margin: 1.5em 0;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) !important;
  border-radius: .5em;
  color: inherit !important;
  text-decoration: none;
}

.work-card:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1) !important;
}

.work-logo {
  height: 80px;
}

.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.work-dates {
  color: black;
}

.work-desc {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.company-name {
  font-size: larger;
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .work-card {
    width: 100%;
  }
}
