.section-title {
  font-size: 32px;
  font-weight: 700;
}

.vertical-timeline-element-icon {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
}

.vertical-timeline-element-icon > img {
    margin: auto 0;
}

.vertical-timeline-element-content{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px;
}

.vertical-line-items{
  margin: 2em 0;
}